*

!Cargo.toml
!Cargo.lock

!build_cfg_aliases.rs
!config.yaml
!migrations/
!migrations/**

!entities/
!entities/**
!usecases/
!usecases/**
!adapters/
!adapters/**
!frameworks/
!frameworks/**
!arch_tests/
!arch_tests/**
